@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  /* colors */
  --bg-color: #1f1f38;
  --bg-color-minor: #1e4059;
  --color-primary: #4db5ff;
  --color-primary-minor: rgba(77, 187, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  /* $$$$$$$$$$$$$$$$$$$$$$ */
  --transition: all 400ms ease;

  /* Width for all devices */
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--color-white);
  line-height: 1.6;
  background-image: url(../src/Assets/bg1.jpg);
}

/* ==================BASIC STYLES================== */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-weight: 2.6rem;
}

section {
  margin-top: 8rem;
 
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3.6rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);

}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-primary);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  color: var(--bg-color);
  background: var(--color-white);
  border-color: transparent;
}

.btn_primary {
  background: var(--color-primary);
  color: var(--bg-color);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* =================== MEDIA QUERIES FOR MEDIUM DEVICES===================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 5.5rem;
  }
}
/* =================== MEDIA QUERIES FOR SMALL DEVICES===================== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    margin-bottom: 2rem;
  }
}
