nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: max-content;
  border-radius: 3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.6rem 1.5rem;
  display: block;
  position: fixed;
  display: flex;
  gap: 0.9rem;
  bottom: 2rem;
}
nav a {
  padding: 0.2rem 0.5rem;
  color: var(--color-light);
  border-radius: 20rem 20rem;
  display: flex;
  background: transparent;
}
nav a.active,
nav a:hover {
  color: var(--bg-color);
  background-color: var(--color-primary);
}
